.constructor {
  width: 600px;
  height: 900px;
}

.constructor__container {
  height: calc(100vh - 500px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.constructor__bun {
  display: flex;
  justify-content: flex-end;
}

.constructor__dragbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.constructor__container::-webkit-scrollbar {
  width: 8px
}

.constructor__container::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.constructor__container::-webkit-scrollbar-track {
  background: #2f2f37;
}

.constructor__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
