.container {
  background: #1C1C21;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.burgerTitle {
  padding: 0;
  margin: 0;
}

.orderContainer {
  display: flex;
  justify-content: space-between;
}

.ingredientContainer {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 24px;
}

.ingredient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 100px;
  background: linear-gradient(0deg, #801AB2, #4C4CFF);
  margin-left: -24px;
  position: relative;
}

.ingredientIcon {
  width: 62px;
  height: 62px;
  background: #131316;
  border-radius: 100px;
  object-fit: cover;
}

.ingredientIcon_type_count {
  background: #1C1C21;
  opacity: 0.6;
}

.count__background {
  position: absolute;
  background: #1C1C21;
  opacity: 0.6;
  top: 1px;
  right: 1px;
  width: 62px;
  height: 62px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
}

.priceContainer {
  display: flex;
  gap: 9px;
  align-items: center;
}