.ingridient__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.ingridient__image {
  object-fit: cover;
  width: 480px;
  max-width: 80%;
}

.ingridient__nutrition {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
  color: #8585AD;
}

.ingridient__value {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}