.header {
  /*width: 100%;*/
  background-color: #1c1c21;
  display: flex;
  justify-content: center;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #1c1c21;
  width: 1280px;
}

.header__left {
  display: flex;
  gap: 8px;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__right {
  display: flex;
  justify-content: end;
}

.link {
  display: flex;
  gap: 8px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 5px;
  color: #8585AD
}

.link_active {
  color: #F2F2F3
}

.link:hover {
  opacity: .8;
  transition: opacity ease-in 0.5s;
}